<html>
	<head th:replace="~{fragment :: head}">
		<meta charset="UTF-8">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<section>
			<main class="container">
				<form action="/findByName" method="post" class="d-flex justify-content-center mt-4">
					<div class="input-group mb-3">
						<input th:value="${param.nomepesquisa}" name="nomepesquisa" class="form-control" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</div>
				</form>
				<table class="table table-striped table-hover mt-4">
					<thead>
						<tr>
							<th>Id</th>
							<th>Criado por</th>
							<th>Título</th>
							<th>Tipo de Chamado</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="lista:${list}">
							<td th:text="${lista.id}"></td>
							<td th:text="${lista.usuario.nomeCompleto}"></td>
							<td th:text="${lista.titulo}"></td>
							<td th:text="${lista.tipoChamado}"></td>
							<td th:text="${lista.status}"></td>
							<td><a sec:authorize="hasRole('ADMIN')" th:href="@{chamadoEdit/{chamadoId}(chamadoId = ${lista.id})}" class="btn btn-primary btn-sm">Alterar</a></td>
						</tr>
					</tbody>
				</table>    
			</main>
		</section>
	</body>
</html>
