<html>
	<head th:replace="~{fragment :: head}">
	</head>
	<body>
		<div th:replace="~{fragment :: logo}"></div>
		
		<div class="container row">
			<div class="card col-md-6" style="width: 18rem;">
				<img src="../img/bg.jpg" class="card-img-top" alt="...">
				<button class="card-body">
					<p class="card-text">Cadastro de usuários</p>
  				</button>
			</div>
			<div class="card col-md-6" style="width: 18rem;">
				<img src="../img/bg.jpg" class="card-img-top" alt="...">
				<button class="card-body">
					<p class="card-text">Cadastro de usuários</p>
  				</button>
			</div>
		</div>
	</body>
	<footer th:replace="~{fragment :: footer}"></footer>
</html>

